<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{pageTitle}}</title>
</head>
<body>
    {{> header}}

    <p>{{welcomeMessage}}</p>
    <p>And now for something special...</p>
    <p>{{screamIt welcomeMessage}}</p>

    {{> footer}}
</body>

</html>